body{
    background-image: url(https://cdn.pixabay.com/photo/2020/04/12/18/13/background-5035258_960_720.jpg);
   background-repeat: no-repeat;
    background-size: 1500px;

}
h1{
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    border: solid;
    margin: 10px auto;
    text-align: center;
    background-color: black;
    color: yellow;
}
h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: yellow;
}
form{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:yellow;
}
div{
    margin: 20px;
}
